<!DOCTYPE html>
<html>
  <head>
    <title> Job Search </title>
    <style>
      section {
        display: grid;  /*표로 보여주기 */
        gap:20px;       /*위아래 간격 띄우기 */
        grid-template-columns: repeat(4, 1fr);
      }
    </style>
    </head>
  <body>
   <h1>SEARCH RESULTS </h1>
   <h3>There are {{resultNumber}} jobs of {{searchingBy}} HERE!!</h3>
   <a href = "/export?word={{searchingBy}}"> Export to CSV </a>


   <section>
      <h4>Title</h4>
      <h4>Company</h4>
      <h4>Location</h4>
      <h4>Link</h4>
      {% for job in jobs %}
        <span>{{job.title}}</span>
        <span>{{job.company}}</span>
        <span>{{job.location}}</span>
        <a href="{{job.link}}"target="_blank">Apply</a>
        <!-- target="_blank는 새로운 페이지를 열어서 보여주라는 명령어!! -->
      {% endfor %} 

   </section>
  </body>
</html>
